
@import url('http://fonts.cdnfonts.com/css/by-the-way');* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
  font-family: 'By the way', sans-serif;
}
.header {
  background: radial-gradient(rgb(111, 255, 188), #d9e5e6);
}
.header .row {
  margin-top: -56px;
  padding: 0px 0px 0px 0px;
}
.categories {
  margin: 40px 0;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4 {
  flex-basis: 20%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transform: 0.5s;
}
.col-4 img {
  width: 100%;
  height: 190px;
  border-radius: 20px;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4 {
  color: #555;
  font-weight: normal;
}
.col-4 p {
  font-size: 14px;
}
.col-4:hover {
  transform: translateY(-5px);
}
.offer-img {
  padding: 50px;
  margin: 0px 0px 0px -42px;
}
.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}
small {
  color: #555;
}
.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
}
footer {
  display: flex;
  height: 60px;
  background-color: #720a29;
  color: white;
  font-family: "Lato", sans-serif;
  align-items: center;
  font-size: 10px;
}
.flex-all-center {
  margin-left: 41vw;
  margin-right: 2vw;
}
.rz{
    margin-left: 22vw;
    color: #ff523b;
}
.rz a{
    color: #d9e5e6;
}

.fa {
  height: 4vh;
  width: 5vh;
  text-align: center;
  transition: all 0.3s linear;
  margin: 0px 3px;
}
.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

/* media query for menu  */

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fff;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

/* meadia query for less than 600px size  */
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2 .c0l-3 .col-4 {
    flex-basis: 100%;
  }
  footer{
      height: 17vh;
  }
.flex-all-center{
      margin: 0px 31px;
      font-size: 0.8em;
    }
    .cc{
        margin: 0px 8px;
    }
    .rz{
        margin: 0px 23px;
        font-size: 0.175cm;
    }
    .header .row{
      margin-top: -22px;
    }
    
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.name{
  font-size: 70px;
  color: #720a29;
  font-family: 'Akronim', cursive;
}


/*****************globals*************/